@page
@using Portfolio_Tracker.Models
@model Portfolio_Tracker.Pages.StocksModel
@{
    <style>
        .row-design {
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col align-self-center">
                <h1>Positions</h1>
            </div>
        </div>
    </div>
    <form method="post">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-auto">
                    <span>
                        <span style="font-weight: 650;">Stock</span>
                        <input type="text" name="symbol" placeholder="NVDA" />
                    </span>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success">Add Stock</button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit" asp-page-handler="SyncStocks">
                            <i class="fa-solid fa-arrows-rotate"></i>
                    </button>
                </div>
            </div>
        </div>

    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Company</th>
                <th>Sector</th>
                <th>Shares</th>
                <th>Current Price</th>
                <th>Open Price</th>
                <th>High Price</th>
                <th>Low Price</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (Stock stock in Model.Stocks)
            {
                <tr>
                    <td>
                        <span>@stock.Symbol</span>
                    </td>
                    <td>
                        @stock.Company
                    </td>
                    <td>
                        <span>@stock.Sector</span>
                    </td>
                    <td>
                        <span contenteditable="true">@stock.SharesOwned</span>
                    </td>
                    <td>
                        <span>@stock.CurrentPrice</span>
                    </td>
                    <td>
                        <span>@stock.OpenPrice</span>
                    </td>
                    <td>
                        <span>@stock.HighPrice</span>
                    </td>
                    <td>
                        <span>@stock.LowPrice</span>
                    </td>
                    <td>
                        <form method="post">
                            <button class="btn btn-danger" type="submit" asp-page-handler="Delete" asp-route-id="@stock.Id">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


